body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e8e8e8;
}
.sol_menu{
    position: fixed;
    width:30%;
    height: 100%;
    background-color: whitesmoke ;
    float: left;
}

.sag_icerik{
    padding: 15px;
    margin: 40px;
    width: 64%;
    height: 100%;
    float: right;
}

.kategoribaslik{

    position: fixed;
    top: 160px;
    left: 200px
}
ul li{
    font-size: 23px;
}
ul li a{
    text-decoration: none;
    color: #495057;
}
#baslikbir{
    text-decoration: underline;
}

.yazibaslik{
    width: 100%;
    height: 7%;
    border: 1px solid black;
    background-color: #dddddd ;
}

#baslikiki{
    margin: 15px;
    text-decoration: underline;
    float: left;
    position: relative;

}

#yazar{
    text-decoration: underline;
    margin: 20px;
    float: right;
    position: relative;
}

#tarih{
    text-decoration: underline;
    margin: 20px;
    float: right;
    position: relative;
}

div.sag_icerik p{
    text-indent: 30px;
    padding: 15px;
}

.aktif{
    border: 1px solid #ddd;
    margin: 5px;
    padding: 10px;
    background: dimgrey;
    position: relative;
    top: 15px;

}

.sayfa{
    border: 1px solid #ddd;
    margin: 5px;
    padding: 10px;
    background: #ddd;
    position: relative;
    top: 15px;
}
.sayfa a {
    color: black;

}

.ozetbaslik{
    width: 100%;
    height: 13%;
    border: 1px solid black;
    background-color: #dddddd ;
    padding: 15px;
    margin: 5px;
}

#ozetadi{
    text-decoration: underline;
    text-align: center;
}

#yazar1{
    text-decoration: underline;
    margin: 20px;
    float: left;
    position: relative;
    bottom: 25px;
}

#tarih1{
    text-decoration: underline;
    float: right;
    margin: 20px ;
    position: relative;
    bottom: 25px;

}

.yorum{
    border:1px solid #ddd;
    width: 500px;
    position: relative;
    left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
}

.yorum h4{
    margin-top: 3px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 3px;
    background: #f6f6f6;
    font-size: 18px;
    background: #ddd;
}

.yorum span{
    float: right;
}

.yorum p{
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    position: relative;
    left: -40px;
    top: -15px;
}

.yorumSayisi{
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 290px;
    margin-top: 10px;
    position: relative;
    left: 10px;
    padding: 10px;
    font-size: 20px;
    background: #ddd;
}

.x{
    position: relative;
    left: -80px;
}


.mesajiniz{
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 330px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 10px;
    padding: 10px;
    font-size: 20px;
    background: #fa8072;
}

.devam{
    position: relative;
    float: right;
    bottom: 30px;
    right: 20px;
}

.alert{
    display: none;
    padding: 5px;
    color: red;
}

.sayfalama{
    width: 650px;
    height: 45px;
    border: 1px solid #ddd;
    position: relative;
}

.ara{
    position: relative;
    float: right;
    bottom: 40px;
}
